.buttonContent {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  animation: pulseContent 1s alternate-reverse infinite;
}

@keyframes pulseContent {
  from {
    transform: translate(-50%, -5px);
  }
  to {
    transform: translate(-50%, 5px);
  }
}

.buttonContent svg > * {
  transition: 0.3s;
  fill: var(--w);
}

.buttonContent:hover svg > * {
  fill: var(--p3);
}
