section {
  padding: 120px 0px;
  background: url("../assets/bkg/bkg.svg") repeat left center / auto;
  min-height: 80vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}

@media (max-width: 1024px) {
  .container {
    justify-content: center;
  }
}
