body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.modal {
  background-color: lightgray;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal.is-active {
  display: initial;
}
