* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(88, 88, 88);
  padding: 20px;
  border-radius: 20px;
}
