header {
  padding: 32px 120px;
  z-index: 1;
  background: var(--p2);
  border-bottom: 3px solid var(--p3);
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  header {
    padding: 32px 20px;
  }
}
