.buttonLang {
  width: 48px;
  height: 26px;
  border-radius: 30px;
  background: var(--b4);
  border: 1px solid var(--p3);
  position: relative;
  box-shadow: inset 0px 0px 5px black;
  cursor: pointer;
  box-sizing: border-box;
}

.buttonLang::after {
  content: "";
  background: var(--p4);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--b2);
  box-sizing: border-box;
  transition: 0.3s;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.buttonLang:hover::after {
  background: var(--p3);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.buttonLang::before {
  content: "en";
  color: var(--w1);
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-56%);
}

.buttonLang:hover::before {
  transition: 0.3s;
  color: var(--w);
}

.buttonLang.is-active::after {
  left: 24px;
}

.buttonLang.is-active::before {
  content: "pt";
  right: 26px;
}
